extends ./chrome.jade

block content
  style.
    * {
      box-sizing: border-box;
    }

    body, html {
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: #F5F5F5;
    }
    .kibanaWelcomeView {
      background-color: #F5F5F5;
    }

    .kibanaWelcomeText {
      color: #222;
      font-size: 14px;
      font-family: Sans-serif;
      margin-top: 20px;
      color: #666;
      animation: fadeIn 1s ease-in-out;
      animation-fill-mode: forwards;
      opacity: 0;
      animation-delay: 1.0s;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }



  .kibanaWelcomeView
    .kibanaWelcomeText
      | #{i18n('UI-WELCOME_MESSAGE')}

  script(src=bootstrapScriptUrl)
